{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-banner">
    <video autoplay muted loop class="background-video">
        <source src="{% static 'videos/bannervid.mp4' %}" type="video/mp4">
    </video>
    <div class="hero-content">
        <div class="container">
            <h3>2025</h3>
            <a href="#" class="action-button">Register now</a>
        </div>
    </div>
</section>

<section class="announcements">
    <div class="container">
        <div class="section-heading">
            <h2>Announcements</h2>
        </div>
        <div class="announcements-flex">
            <div class="announcement-card">
                <div class="announcement-header">
                    <h3>Annual general meeting</h3>
                </div>
                <div class="announcement-img" style="background-image: url('/static/images/planning.jpg');"></div>
                <div class="announcement-conent">
                    <ul>
                        <li><span>Date:</span> <time datetime="2025-02-03">February 3, 2025</time></li>
                        <li><span>Time:</span> <time datetime="2025-02-03T19:00">7:00 PM</time></li>
                        <li><span>Location:</span> Marcel-Morin Community Center</li>
                    </ul>
                </div>
            </div>
            <div class="announcement-card">
                <div class="announcement-header">
                    <h3>Join our team!</h3>
                </div>
                <div class="announcement-img" style="background-image: url('/static/images/teamwork.jpg');"></div>
                <div class="announcement-conent">
                    <ul>
                        <li><span>Positions:</span> Referee, Scorekeeper</li>
                        <li><span>Minimum Age:</span> 14</li>
                        <li><span>Contact:</span> Amanati</li>
                    </ul>
                </div>
            </div>
            <div class="announcement-card">
                <div class="announcement-header">
                    <h3>Cancelled game</h3>
                </div>
                <div class="announcement-img" style="background-image: url('/static/images/hoop.jpg');"></div>
                <div class="announcement-conent">
                    <ul>
                        <li><span>Date:</span> <time datetime="2025-02-03">February 3, 2025</time></li>
                        <li><span>Time:</span> <time datetime="2025-02-03T19:00">7:00 PM</time></li>
                        <li><span>Location:</span> Marcel-Morin Community Center</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="registration-info">
    <div class="reg-info-heading">
        <h2>Summer 2025 registration</h2>
    </div>
    <div class="reg-info-content">
        <div class="container">
            <div class="reg-info-container">
                <p>Registration begins March 31, 2025 and ends June 3, 2025. To register for our programs you will need to create or use an existing an account. This account will be your home for all things related to the league, communication, games, schedules, playing and volunteering opportunities, and more throughout the season</p>
                <p>Please complete the application and submit with your payment.</p>
            </div>
            <div>
                <a href="#" class="action-button">Register now</a>
            </div>
        </div>
    </div>
</section>

<section class="affiliations">
    <div class="affiliations-bg">
        <div class="container">
            <div class="affiliations-grid">
                <img src="{% static 'images/prm-logo.png' %}" alt="">
                <img src="{% static 'images/ddo-logo.png' %}" alt="">
                <img src="{% static 'images/pc-logo.png' %}" alt="">
                <img src="{% static 'images/kl-logo.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}


