{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-banner">
    <video autoplay muted loop class="background-video">
        <source src="{% static 'videos/bannervid.mp4' %}" type="video/mp4">
    </video>
    <div class="hero-content">
        <div class="container">
            <h3>2025</h3>
            <a href="#" class="action-button button">Register now</a>
        </div>
    </div>
</section>

<section class="announcements">
    <div class="section-heading">
        <div class="container">
            <h2>Announcements</h2>
        </div>
    </div>
    <div class="announcements-bg">
        <div class="container">
            <div class="announcements-flex">
                <div class="announcement-card">
                    <div class="announcement-img" style="background-image: url('/static/images/teamwork.jpg');"></div>
                    <div class="announcement-content">
                        <a href="">General assembly meeting</a>
                        <p>January 3, 2025</p>
                    </div>
                </div>
                <div class="announcement-card">
                    <div class="announcement-img" style="background-image: url('/static/images/scoreboard.png');"></div>
                    <div class="announcement-content">
                        <a href="">Looking for a summer job?</a>
                        <p>We are looking for scorekeepers and referees.</p>
                    </div>
                </div>
                <div class="announcement-card">
                    <div class="announcement-img" style="background-image: url('/static/images/eventcal.jpg');"></div>
                    <div class="announcement-content">
                        <a href="">Game/event cancalled</a>
                        <p>January 3, 2025</p>
                    </div>
                </div>
                <div class="announcement-card">
                    <div class="announcement-img" style="background-image: url('/static/images/cameraman.jpg');"></div>
                    <div class="announcement-content">
                        <a href="">Team picture day</a>
                        <p>February 23, 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="registration-info">
    <div class="reg-info-heading">
        <h2>Summer 2025 registration</h2>
    </div>
    <div class="reg-info-content">
        <div class="container">
            <div class="reg-info-container">
                <p>Registration begins March 31, 2025 and ends June 3, 2025. To register for our programs you will need to create or use an existing an account. This account will be your home for all things related to the league, communication, games, schedules, playing and volunteering opportunities, and more throughout the season</p>
                <p>Please complete the application and submit with your payment.</p>
            </div>
            <div>
                <a href="#" class="action-button button">Register now</a>
            </div>
        </div>
    </div>
</section>

<section class="affiliations">
    <div class="affiliations-bg">
        <div class="container">
            <div class="affiliations-grid">
                <img src="{% static 'images/prm-logo.png' %}" alt="">
                <img src="{% static 'images/ddo-logo.png' %}" alt="">
                <img src="{% static 'images/pc-logo.png' %}" alt="">
                <img src="{% static 'images/kl-logo.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}


