{% extends 'base.html' %}
{% block 'title' %}Login{% endblock %}
{% block body_class %}body-login{% endblock %}
{% block footer_class %}footer-login{% endblock %}
{% load static %}

{% block content %}
<section class="login-section">
    <div class="form-container">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="">
            <form action="{% url 'login' %}" method="POST" class="login-form">
                {% csrf_token %}
                
                {% for field, errors in login_form.errors.items %}
                    {% for error in errors %}
                        <div class="error-message">
                            <div class="error-flex">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <p>{{ error }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

                <a href="{% url 'login' %}">Parent</a> | <a href="{% url 'admin:index' %}">Coach</a>
    
                <label for="{{ login_form.username.id_for_label }}">Username</label>
                <input type="text" id="{{ login_form.username.id_for_label }}" name="{{ login_form.username.name }}" value="{{ login_form.username.value|default:'' }}" required>
    
                <label for="{{ login_form.password.id_for_label }}">Password</label>
                <input type="password" id="{{ login_form.password.id_for_label }}" name="{{ login_form.password.name }}" required>
    
                <button name="login" type="submit" class="action-button button">Login</button>
            </form>
            <p class="choice">Or</p>
            <a href="{% url 'sign-up' %}" class="black-button button">Create account</a>
        </div>
    </div>
</section>
{% endblock %}