{% extends 'base.html' %}
{% block 'title' %} {{request.user.username}}'s Account {% endblock %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div>Welcome, {{ user.username }}</div>
        <div>Firstname: {{ user.first_name }}</div>
        <div>Lastname: {{ user.last_name }}</div>
        <div>email: {{ user.email }}</div>
        <!-- <div>Role: {{ role.name }}</div> -->

        <form action="{% url 'member_account' request.user.id %}" method="POST">
            {% csrf_token %}

            {{ account_form.errors }}

            <fieldset>
                <legend>Account Information</legend>
                {% for field in account_form %}
                    <div>
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button name="account_edit">Edit</button>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}