{% extends 'base.html' %}
{% block 'title' %} Registeration {% endblock %}
{% load static %}

{% block content %}
    <section class="registration-information">
        <div class="container">
            <p>Thank you for your interest in joining the West Island Outdoor Basketball League.</p>
            <p>Please read the information below carefully and complete all the information in the form below.</p>
            <ul>
                <li>Registration Fee: $170.00 (Cash or money order)</li>
                <li>Please complete one form for each player</li>
                <li>All teams and players must register at the address above before playing</li>
                <li>No registrations will be accepted at the court</li>
            </ul>
            <p>We are excited for you to be part of the team!</p>
        </div>
    </section>

    <section class="registration">
        <div class="container">
            <form action="{% url 'registration' %}" method="POST">
                {% csrf_token %}
 
                <div class="section-heading">
                    <h2>Summer 2025 Registration</h2>
                </div>
    
                <fieldset>
                    <div class="form-heading">
                        <legend class="form-label">Player's Information</legend>
                    </div>

                    <div class="icon-flex">
                        <i class="fa-regular fa-user"></i>
                        <p class="form-label">Full name</p>
                    </div>

                    <div class="register-flex margin-left">
                        <div class="label-input">
                            <label class="small-txt" for="firstname">First Name</label>
                            {{ register_form.firstname }}
                        </div>
                        <div class="label-input">
                            <label class="small-txt" for="lastname">Last Name</label>
                            {{ register_form.lastname }}
                        </div>
                    </div>

                    <div class="register-flex">
                        <div class="label-input">
                            <div class="icon-flex">
                                <i class="fa-solid fa-pencil"></i>
                                <label class="form-label" for="dob">Player Date of Birth</label>
                            </div>
                            <div class="margin-left">
                                {{ register_form.dob }}
                            </div>
                        </div>
                        <div class="label-input">
                            <div class="icon-flex">
                                <i class="fa-solid fa-user"></i>
                                <label class="form-label" for="gender">Gender</label>
                            </div>
                            <div class="margin-left radio-flex">
                                <div class="radio-flex">
                                    {% for field in register_form.gender %}
                                        {{ field.tag }} {{ field.choice_label }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset>
                    <div class="icon-flex">
                        <i class="fa-regular fa-square-check"></i>
                        <legend class="form-label">Group Selection</legend>
                    </div>
                    <div class="radio-group margin-left">
                        {% for field in register_form.group %}
                        <div class="radio-option">
                            {{ field.tag }} {{ field.choice_label }}
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset>
                    <div class="icon-flex">
                        <i class="fa-solid fa-location-dot"></i>
                        <legend class="form-label">Address</legend>
                    </div>

                    <div class="margin-left">
                        <div class="label-input-full">
                            <label class="small-txt" for="street_line1">Street Address</label>
                            {{ register_form.street_line1 }}
                        </div>
    
                        <div class="label-input-full">
                            <label class="small-txt" for="app_line2">Street Address 2</label>
                            {{ register_form.app_line2 }}
                        </div>
                        <div class="register-flex">
                            <div  class="label-input">
                                <label class="small-txt" for="city">City</label>
                                {{ register_form.city }}
                            </div>
                            <div  class="label-input">
                                <label class="small-txt" for="province">Province</label>
                                {{ register_form.province }}
                            </div>
                        </div>
                        <div class="register-flex">
                            <div  class="label-input">
                                <label class="small-txt" for="postal_code">Postal Code</label>
                                {{ register_form.postal_code }}
                            </div>
                            <div  class="label-input">
                                <label class="small-txt" for="country">Country</label>
                                {{ register_form.country }}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="register-flex">
                        <div class="label-input-full">
                            <div class="icon-flex">
                                <i class="fa-solid fa-phone"></i>
                                <label class="form-label" for="phone">Phone Number</label>
                            </div>
                            <div class="margin-left">
                                {{ register_form.phone }}
                            </div>
                        </div>
        
                        <div class="label-input-full">
                            <div class="icon-flex">
                                <i class="fa-solid fa-at"></i>
                                <label class="form-label" for="email">Email</label>
                            </div>
                            <div class="margin-left">
                                {{ register_form.email }}
                            </div>
                        </div>
                    </div>
    
                    <div class="label-input-full">
                        <div class="icon-flex">
                            <i class="fa-solid fa-shirt"></i>
                            <label for="uniform_size">Uniform Size</label>
                        </div>
                        <div class="margin-left">
                            {{ register_form.uniform_size }}                           
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="label-input-full">
                        <div class="icon-flex">
                            <i class="fa-regular fa-square-check"></i>
                            <label class="form-label" for="consent">Consent</label>
                        </div>
                        <div class="checkbox-flex margin-left">
                            <div class="checkbox-input">
                                {{ register_form.consent }}  
                            </div>
                            <div class="checkbox-info">
                                <p>I, the undersigned player mentioned above, hereby consent to participate in all activities of the West Island Basketball League (WIOBL). I agree not to hold the organizers, directors, or any volunteer responsible for any future claim related to any loss, damage, or bodily injury arising directly or indirectly from my participation in said activity. I will also comply with all laws and rules of WIOBL. Additionally, I agree to possibly be transferred to another team if necessary to balance the teams.</p>
                            </div>
                        </div>
                    </div>
                    <div class="label-input-full">
                        <div class="icon-flex">
                            <i class="fa-regular fa-square-check"></i>
                            <label class="form-label" for="volunteer">Volunteer</label>
                        </div>
                        <div class="checkbox-flex margin-left">
                            <p>Would you like to be a volunteer for the league?</p>
                            {% for field in register_form.volunteer %}
                            <div class="radio-flex">
                                {{ field.tag }} {{ field.choice_label }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>                
                
                <fieldset>
                    <div class="label-input-full">
                        <div class="icon-flex">
                            <i class="fa-regular fa-note-sticky"></i>
                            <label class="form-label" for="requests">Special Requests</label>
                        </div>
                        <div class="margin-left">
                            {{ register_form.message }}
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-submission">
                        <button type="submit" class="button action-button">Submit</button>
                    </div>
                </fieldset>

            </form>
        </div>
    </section>
{% endblock %}
