{% extends 'base.html' %}
{% block 'title' %} Sign-up {% endblock %}
{% block body_class %}body-login{% endblock %}
{% block footer_class %}footer-login{% endblock %}
{% load static %}

{% block content %}

<section class="form-section signup-section">
    <div class="form-container">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="">
            <form class="login-form" action="{% url 'sign-up' %}" method="POST">
                {% csrf_token %}

                <fieldset>
                    <legend class="main-legend">Sign Up</legend>
                    <label for="{{ signup_form.firstname.id_for_label }}">{{ signup_form.firstname.label }}</label>
                    {{ signup_form.firstname }}
                    
                    <label for="{{ signup_form.lastname.id_for_label }}">{{ signup_form.lastname.label }}</label>
                    {{ signup_form.lastname }}
                    
                    <label for="{{ signup_form.email.id_for_label }}">{{ signup_form.email.label }}</label>
                    {{ signup_form.email }}
                    
                    <label for="{{ signup_form.password1.id_for_label }}">{{ signup_form.password1.label }}</label>
                    {{ signup_form.password1 }}

                    <label for="{{ signup_form.password2.id_for_label }}">{{ signup_form.password2.label }}</label>
                    {{ signup_form.password2 }}
                </fieldset>

                <div>
                    <button name="sign-up" class="action-button button">sign-up</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}