{% extends 'base.html' %}
{% block 'title' %} Sign-up {% endblock %}
{% block body_class %}body-login{% endblock %}
{% block footer_class %}footer-login{% endblock %}
{% load static %}

{% block content %}

<section class="form-section signup-section">
    <div class="form-container">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="">
            <form class="login-form" action="{% url 'sign-up' %}" method="POST">
                {% csrf_token %}

                <fieldset>
                    <legend class="main-legend">Sign Up</legend>
                    <label for="firstname">First Name</label>
                    {{ signup_form.firstname }}
                    
                    <label for="lastname">Last Name</label>
                    {{ signup_form.lastname }}
                    
                    <label for="email">Email</label>
                    {{ signup_form.email }}
                    
                    <label for="password1">Password</label>
                    {{ signup_form.password1 }}

                    <label for="password2">Password Confirmation</label>
                    {{ signup_form.password2 }}
                </fieldset>

                <fieldset class="role">
                    <legend>Role</legend>
                    {% for field in signup_form.role %}
                        <div class="radio-flex">
                            {{ field.tag }}
                            {{ field.choice_label }}
                        </div>
                    {% endfor %}
                </fieldset>

                <div class="form-bio">
                    <label for="bio">Biography</label>
                    {{ signup_form.bio }}
                </div>

                <div>
                    <button name="sign-up" class="action-button button">sign-up</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}