{% extends 'base.html' %}
{% block 'title' %} Teams {% endblock %}
{% load static %}

{% block content %}
    <form action="{% url 'teams' %}" method="POST">
        {% csrf_token %}

        {% for field in filter_teams_form %}
            
            {{ field.label }}
            {{ field }}

        {% endfor %}
        <button name="search">Search</button>
    </form>


    {% if filter_teams_form.group.value %}
    <h5>Team {{ filter_teams_form.group.value }}'s Table:</h5>
        {% if teams %}
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Coaches</th>
                    <th>Players</th>
                    <th>Place</th>
                </tr>
            </thead>
            
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team }}</td>
                    <td>
                        {% if team.coaches.all %}
                        <ul>
                            {% for coach in team.coaches.all %}
                                <li>{{ coach }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>Not assigned coaches yet</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if players.all %}
                        <ul>
                            {% for player in players.all %}
                                {% if player.team_name == team %}
                                    <li>{{ player }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>Not assigned players yet</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if team.place == 0 %}
                            <p>N/A</p>
                        {% else %}
                            {{ team.place }}
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'team_schedule' team %}" method="POST">
                            {% csrf_token %}

                            <button type="submit" name="schedule">Schedule</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No Teams Found</p>
        {% endif %}
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Team</th>
            </tr>
        </thead>
        
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group }}</td>
                <td>
                    <ul>
                    {% for team in teams %}
                        {% if team.group == group %}
                            <li>{{ team }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
