:root {
  --primary: #000000 !important;
  --secondary: #ff9800 !important;
  --body-bg: #e5e5e5 !important;
  --text-color: #333 !important;
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
}

#header {
  background-color: var(--primary);
}

#branding {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.brand-name {
  font-family: 'Montserrat', sans-serif;
}

.custom-branding {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.custom-branding img {
  height: 50px;
  margin-right: 10px;
}

.custom-branding .brand-name {
  font-size: 16px;
  font-weight: 700;
}

#navbar {
  padding: 24px 0px;
  background-color: var(--primary);
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
}

.navbar-item {
  font-size: 16px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-item a:hover {
  background-color: #555;
}

.stats-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
  text-align: center;
}

.stats-box h2 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-item {
  flex: 1;
  min-width: 180px;
  max-width: 275px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.stat-item h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.stat-subtitle {
  color: #555;
  font-size: 14px;
}

.stat-value {
  font-size: 22px;
  font-weight: bold;
  color: #ff9800;
}

.stat-item.pending .stat-value {
  color: #ff9800;
}

.stat-item.flags .stat-value {
  color: #e74c3c;
}

.stat-item.pending {
  border-left: 5px solid #ff9800;
}

.stat-item.flags {
  border-left: 5px solid #e74c3c;
}

.stat-item.pending,
.stat-item.flags {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.stat-item.pending:hover,
.stat-item.flags:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1015px) {
  .stat-item h3{
    font-size: 14px;
  }
  
  .stat-subtitle{
    font-size: 12px;
  }
}
@media (max-width: 910px) {
  .stat-item h3{
    font-size: 13px;
  }
  
  .stat-subtitle{
    font-size: 10px;
  }
}