* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    font-family: Roboto;
}

section {
    padding: 48px 0;
}

h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
}

h5 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}

/* Re-usable styles */
.container {
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.button {
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: Raleway;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.button-small {
    padding: 4px 16px !important;
    font-size: 14px;
}

.action-button {
    background-color: #8C0303;
}
.action-button:hover {
    background-color: #bf1616;
    transform: scale(1.05);
}

.blue-button {
    background-color: #12316e;
}
.blue-button:hover {
    background-color: #5e85d4;
    transform: scale(1.05);
}

.bluetext-btn {
    background: transparent;
    border: none;
    color: #0055ff;
    cursor: pointer;
    font-size: 14px;
}
.bluetext-btn:hover {
    color: #3f7df9;
    transform: scale(1.05);
}

.black-button {
    background-color: #000000;
}
.black-button:hover {
    background-color: #504444;
    transform: scale(1.05);
}

.toggle-buttons {
    display: inline-flex;
    border-radius: 999px;
    border: 2px solid #3663BF;
    margin-bottom: 32px;
}

.toggle-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    color: #3663BF;
    background: white;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
    display: inline-block;
}

.toggle-buttons a:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.toggle-buttons a:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.toggle-buttons a.active {
    background: #3663BF;
    color: white;
}

.section-heading {
    text-align: center;
    margin-bottom: 32px;
}

.error>.errorlist,
.error-message {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffebee;
    color: #c62828;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
}

.error-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.error-message i {
    font-size: 16px;
}

.errorlist li {
    margin-left: 16px;
}

.base-message {
    background-color: #4D6CC0;
    padding: 24px;
    text-align: center;
    color: #ffffff;
}

.radio-flex {
    display: flex;
    gap: 8px;
}

/* Navbar */
.navbar {
    padding: 16px 0;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

.nav-container {
    max-width: 1500px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.nav-flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 60px;
}

.h1-acronym {
    display: none;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger i {
    cursor: pointer;
    font-size: 30px;
    color: #ff7d4d;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.menu-list-js {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 24px;
    border-radius: 5px;
    z-index: 10;
    flex-direction: column
}

.menu-hidden {
    display: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 4px 8px;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: capitalize;
    text-align: center;
}

.menu a:hover {
    background-color: #555;
}

.menu-list .orange-url {
    color: #ffbaa1;
}

.menu-list .account-url {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    padding-top: 125px;
    padding-bottom: 24px;
    background: url("/static/images/footer-ball.svg");
    background-position: top;
    background-size: cover;
}

.footer-login {
    display: none;
}

.footer-flex {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
}

footer .list-item {
    margin-bottom: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    gap: 32px;
}

.sentence {
    color: white;
    text-align: center;
    font-family: Montserrat;
    line-height: 1.5;
}

.sentence .quote-author {
    font-weight: 600;
    font-style: italic;
}

footer i {
    font-size: 30px;
}

/* HOME PAGE */

/* hero banner */
.hero-banner {
    background-color: rgba(51, 51, 51, 0.408);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    padding: 40px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}

.hero-content {
    text-align: center;
}

.hero-content h3 {
    font-size: 260px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 50px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.232);
    margin-bottom: 8px;
}

.hero-content p {
    color: #ffffff;
    margin-bottom: 48px;
    font-family: Montserrat;
}

/* Announcements */
.announcements-bg {
    background-color: #7a9fbf61;
    padding: 48px;
}

.announcement-card {
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.announcement-card:hover {
    transform: scale(1.1);
}

.announcement-img {
    height: 180px;
    background-position: center;
    background-size: cover;
}

.announcements-flex {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}

.announcement-content {
    padding: 24px;
    text-align: center;
}

.announcement-content a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}

.announcement-content a:hover {
    text-decoration: underline;
}

/* Registration */
.reg-info-content {
    background-image: url("/static/images/ballground-bg.jpg");
    background-color: rgba(99, 99, 99, 0.408);
    background-blend-mode: lighten;
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.reg-info-heading {
    background-color: #3663BF;
    padding: 8px;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reg-info-heading h2 {
    color: #FFFFFF;
}

.reg-info-container {
    background-color: #FFFFFF;
    padding: 48px 24px;
    margin-bottom: 24px;
}

.reg-info-container p {
    font-size: 20px;
}

.reg-info-container p:nth-of-type(1) {
    margin-bottom: 24px;
}

.reg-info-container p:nth-of-type(2) {
    font-weight: 900;
}

/* Affiliations */
.affiliations {
    padding-top: 0;
    padding-bottom: 48px;
}

.affiliations-bg {
    background-color: #D9D9D9;
    padding: 32px 0;
}

.affiliations-grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: space-between;
}

.affiliations img {
    height: 60px;
}

/* Courts */
.courts {
    text-align: center;
}

.court-bg {
    background: url("/static/images/bbcourt-bg.png");
    background-color: rgba(148, 148, 148, 0.684);
    background-size: cover;
    background-position: center;
    padding: 48px;
}

.court-card {
    padding: 48px;
}

.courtcard-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
}

.court-info {
    width: 50%;
}

.court-content {
    background-color: #E4E1E8;
    padding: 140px 24px;
    width: 80%;
    position: relative;
    top: -70px;
    left: 20%;
}

.court-content p {
    font-size: 30px;
}

.court-content img {
    margin-bottom: 32px;
    height: 70px;
}

.court-content p {
    margin-bottom: 20px;
    font-style: italic;
    font-family: Raleway;
}

.court-map {
    width: 50%;
}

.map {
    height: 350px;
}

/* LOGIN and SIGN UP PAGE*/
.form-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.signup-section {
    height: 100%;
}

.login-section {
    height: 100vh;
}

.body-login {
    background-image: url("/static/images/sky-dunk.jpg");
    background-position: right 100% top 50%;
    background-size: cover;
    position: center;
}

.form-container {
    background-color: #ffffffca;
    padding: 48px 0;
    text-align: center;
    width: 40%;
    height: 100%;
}

.login-form fieldset {
    border: none;
}

.login-form .main-legend {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
}

.login-form label,
input {
    display: block;
}

.login-form .role legend,
.login-form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30px;
}

.login-form textarea {
    width: 100%;
}

.form-container img {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    display: block;
}

.form-container p {
    text-transform: uppercase;
}

.login-form .action-button {
    margin-bottom: 32px;
}

.choice {
    margin-bottom: 36px;
}

.login-form .role,
.login-form .form-bio {
    margin-bottom: 24px;
}

.login-form .error {
    text-align: start;
}

.role .radio-flex {
    align-items: center;
    justify-content: center;
}

/* ABOUT PAGE */
/* about banner */
.about-section {
    background-image: url("/static/images/about/about-banner.png");
    background-position: center;
    background-size: cover;
}

.about-section h2 {
    font-family: Montserrat;
    color: #ffffff;
    text-align: right;
    margin-top: 200px;
    font-size: 50px;
}

/* about goals */
.about-goals h2 {
    text-align: left;
}

.goals-flex {
    display: flex;
    gap: 96px;
    align-items: center;
    justify-content: space-between;
}

.goals-info {
    width: 50%;
}

.goal-flex {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
}

.goals-flex p:first-of-type {
    font-size: 36px;
    font-family: Raleway;
    font-weight: 600;
}

.goals-images {
    width: 50%;
    position: relative;
}

.goals-images img:first-of-type {
    height: 300px;
}

.goals-images img:nth-of-type(2) {
    height: 200px;
    position: absolute;
    top: 65%;
    right: 0;
}

/* about - info */
.info-flex {
    display: flex;
}

.info-card {
    padding: 32px;
    width: 100%;
}

.info-flex .info-card:nth-of-type(1),
.info-flex .info-card:nth-of-type(3) {
    background: #3663BF;
}

.info-flex .info-card:nth-of-type(2) {
    background: #7A9FBF;
}

.info-card p {
    text-align: center;
    color: #ffffff;
}

.info-card p:nth-of-type(1) {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.info-card p:nth-of-type(2) {
    font-size: 18px;
}

/* about - coaches */
.our-coaches {
    text-align: center;
}

.coaches-flex {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.coach-card {
    width: 25%;
}

.coach-card img {
    width: 80%;
    margin-bottom: 16px;
}

.coach-card p {
    font-family: Montserrat;
    font-weight: 600;
}

.about-description {
    background: #7a9fbf45;
    text-align: center;
    line-height: 1.5;
}

/* about - volunteers */
.volunteers-content {
    background-image: url("/static/images/about/flags-bg.png");
    padding: 48px;
}

.volunteers-info {
    border-radius: 15px;
    background-color: #ffffff;
    width: 50%;
    margin-left: auto;
    padding: 48px;
    text-align: center;
}

.volunteers-info h3,
.volunteers-info p:first-of-type,
.volunteers-info ul {
    margin-bottom: 24px;
}

.volunteers-info h3 {
    font-weight: 600;
}

.volunteers-info p:nth-of-type(1) {
    font-size: 20px;
}

.volunteers-info ul {
    list-style: none;
}

.volunteers-info li {
    font-weight: 600;
    font-style: italic;
}

.volunteers-info p:nth-of-type(2) {
    font-weight: 600;
}

/* about - members */
.members-vid {
    width: 100%;
}

/* REGISTRATION */
/* registration info */

.registration-information {
    background-color: #4D6CC0;
}

.registration-information p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.registration-information p:nth-of-type(2) {
    margin-bottom: 36px;
}

.registration-information p:nth-of-type(3) {
    font-size: 24px;
    font-weight: 900;
}

.registration-information ul {
    margin-bottom: 36px;
    margin-left: 50px;
}

.registration-information li {
    color: #ffffff;
    font-size: 18px;
    padding-left: 16px;
    font-weight: 300;
}

/* registration form */
.registration h2 {
    text-align: center;
    color: #003366;
}

.registration form {
    background: rgba(228, 225, 232, 0.287);
    padding: 48px;
    border: 4px solid #00000059;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration .form-heading {
    margin-bottom: 24px;
}

.registration fieldset {
    border: none;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.registration .form-label {
    font-size: 24px;
    font-weight: bold;
    color: #003366;
    text-transform: capitalize;
}

.registration .small-txt {
    font-weight: 400;
    font-size: 16px;
    color: #000000aa;
    margin-bottom: 16px;
}

.registration .icon-flex {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.registration .register-flex {
    display: flex;
    gap: 48px;
    align-items: center;
}

.registration .label-input {
    width: 50%;
    margin-bottom: 24px;
}

.registration .label-input-full {
    width: 100%;
    margin-bottom: 24px;
}

.registration input[type="text"],
.registration input[type="tel"],
.registration input[type="email"] {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.registration .radio-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    margin-bottom: 24px;
    text-align: center;
}

.registration .radio-option {
    display: flex;
    gap: 8px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.registration .checkbox-flex {
    display: flex;
    gap: 8px;
    align-items: start;
}

.registration .checkbox-info {
    width: 90%;
}

.registration .checkbox-info p {
    font-size: 14px;
}

.registration .checkbox-input {
    width: 10%;
}

.registration textarea {
    width: 100%;
    height: 80px;
    resize: vertical;
    padding: 8px;
    border: 4px solid #ccc;
    background-color: transparent;
}

.registration i {
    color: #59595975;
    font-size: 28px;
}

.registration .margin-left {
    margin-left: 36px;
}

.registration .form-submission {
    text-align: center;
}

/* ACCOUNT */
.account-info .profile-info {
    text-align: center;
    margin-bottom: 48px;
}

.account-info .profile-info img {
    height: 180px;
    margin-bottom: 16px;
}

.account-info .profile-info p {
    font-size: 24px;
    font-weight: 800;
}

.account-info .account-flex {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
}

.account-info .account-left {
    width: 33%;
    background-color: #DDE1EF;
    border-radius: 10px;
    padding: 24px;
}

.account-info .account-right {
    width: 67%;
}

.account-info .account-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-info .account-content {
    border-radius: 10px;
    border: 2px solid #bebebe;
    padding: 24px;
}

.account-info .form {
    margin-bottom: 32px;
}

.account-info h3 {
    font-size: 22px;
    font-weight: 800;
}

.account-info .input-edit {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.account-info label {
    font-size: 18px;
    font-weight: 800;
}

.account-info input {
    color: #4c4c4c;
    font-size: 18px;
}

.account-info li {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #bebebe;
}

.account-info ul {
    margin-bottom: 24px;
    list-style: none;
}

.account-info span {
    font-weight: 800;
}

.account-info .account-reg p {
    margin-bottom: 24px;
}

/* TEAMS & SCHEDULE */
/* form - both pages */
.teams-search .search-form {
    background-color: #3663BF;
    padding: 32px;
    border-radius: 10px;
    margin-bottom: 48px;
}

.teams-search .form {
    margin-bottom: 24px;
}

.teams-search .search-form p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.teams-search .search-form p:nth-of-type(2) {
    margin-bottom: 24px;
}

.teams-search .search-form p:nth-of-type(3) {
    margin-bottom: 48px;
}

.teams-search .search-form ul {
    color: #ffffff;
    list-style-position: inside;
    width: fit-content;
    margin: 0 auto 24px auto;
}

.teams-search .search-form input,
.teams-search select {
    border-radius: 5px;
    height: 30px;
    border: none;
}

.teams-search .search-form input {
    margin-bottom: 32px;
    width: 100%;
}

.teams-search .search-form label {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 14px;
}

.teams-search .label-flex {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.teams-search .search-margin {
    margin-bottom: 48px;
}

.teams-search .search-flex {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    margin-bottom: 36px;
}

.teams-search .search-right,
.teams-search .search-left {
    width: 50%;
}

.teams-search .search-btn {
    text-align: center;
}

/* teams search form */
.teams .search-form select {
    width: 70%;
}

/* schedule search form */
.schedule .search-form select {
    width: 100%;
}

/* teams & schedule table */
.teams-search table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 95%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.teams-search table thead {
    background-color: #BCC5D7;
}

.teams-search thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.teams-search thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.teams table tbody tr:nth-child(2n) {
    background: rgba(217, 88, 41, 0.189);
}

.teams-search table th,
.teams-search table td {
    padding: 8px;
}

.teams-search table ul {
    list-style: none;
}

.teams-search table .schedule-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(194, 91, 54);
    font-size: 16px;
}

.teams-search table .schedule-btn:hover {
    color: rgb(180, 48, 0);
    text-decoration: underline;
}

.teams-search .teamlogo-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.teams-search .logo-margin:not(:last-child) {
    margin-bottom: 8px;
}

.teams-search .team-logo {
    height: 20px;
}

.teams-search .scroll-box {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 8px;
}

.teams-search .scroll-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.teams-search .scroll-box li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* schedule table */
.schedule table tbody tr:nth-child(1), 
.schedule table tbody tr:nth-child(2n + 1) {
    background: rgba(217, 88, 41, 0.189);
}

.schedule .park-info {
    font-style: italic;
}

.schedule .td-flex {
    display: flex;
    gap: 4px;
    align-items: center;
}

.schedule .comments-section {
    border: 2px solid black;
    padding: 16px;
    border-radius: 5px;
}

.schedule summary {
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

.schedule .comment-flex {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.schedule .heading {
    margin-bottom: 16px;
}

.schedule .comment:not(:last-of-type) {
    margin-bottom: 16px;
}

.schedule .submit-comment {
    margin-bottom: 24px;
}

.schedule .comment-edit {
    margin-top: 16px;
    display: none;
}

.schedule textarea {
    width: 100%;
}

.schedule .textarea-edit {
    height: 40px;
    width: 400px;
}

.schedule .comment-info {
    background-color: #e5eaf2;
    padding: 16px;
    border-radius: 5px;
}

.schedule .comment-infoflex {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.schedule .comment-txt {
    font-size: 18px;
    margin-bottom: 4px;
}

.schedule .edit-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.schedule .date {
    font-size: 14px;
    font-weight: bold;
    color: #4c4545;
}

.schedule .actions-flex {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.schedule .username {
    font-weight: 900;
    color: #103b93;
    margin-right: 8px;
}

.schedule .like-flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

.schedule .like-count {
    font-size: 20px;
}

.schedule .icon {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    color: #c44;
    border: none;
    background-color: transparent;
}

.schedule .icon:hover {
    color: rgb(252, 109, 109);
}

.schedule .tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.schedule .tooltip-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.schedule .tooltip-wrapper:hover::after {
    opacity: 1;
    visibility: visible;
}

.schedule .flag-btn {
   display: none;
}

.schedule .popup {
    padding: 8px;
    background: rgb(255, 233, 224);
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.schedule .controls-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.schedule .warning {
    margin-bottom: 8px;
}

.player-box{
    padding: 3px 0;
    padding-left: 15px;
    margin: 2px 0;
    border: 1px solid #3f0505;
    border-radius: 5px;
}

.player-box i{
    padding-right: 10px;
    color: orange;
    text-shadow: 1px 1px 0px #3f0505;
}

/* MEDIA QUERY */
@media (max-width: 1100px) {

    /* GENERAL */
    h1 {
        font-size: 16px;
    }

    .footer-flex {
        gap: 70px;
    }

    /* Nav */
    .menu-list {
        flex-wrap: wrap;
        gap: 5px;
    }

    /* HOME */
    /* Court */
    .court-content img {
        height: 60px;
    }

}

@media (max-width: 992px) {

    /* GENERAL */
    section {
        padding: 40px 0;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
    }

    .logo img {
        height: 50px;
    }

    .footer {
        padding-top: 100px;
    }

    .footer-flex {
        gap: 50px;
    }

    footer .list-item {
        margin-bottom: 24px;
    }

    .social-media-icons {
        gap: 24px;
    }

    /* HOME */
    /* Hero Baner */
    .hero-content h3 {
        font-size: 200px;
    }

    /* Registration */
    .reg-info-container {
        padding: 40px 16x;
    }

    .reg-info-container p {
        font-size: 18px;
    }

    /* Courts */
    .court-card {
        padding: 32px;
    }

    .courtcard-flex {
        gap: 32px;
    }

    .court-content {
        width: 80%;
        top: -50px;
    }

    .court-content img {
        height: 40px;
    }

    .court-content p {
        font-size: 20px;
    }

    .court-content img,
    .court-content p:first-of-type {
        margin-bottom: 24px;
    }

    .map {
        height: 250px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 40px;
    }

    .affiliations-bg {
        padding: 24px 0;
    }

    .affiliations img {
        height: 45px;
    }

    /* LOGIN and SIGN UP PAGE*/
    .form-container {
        width: 100%;
        padding: 32px;
        height: 100%;
    }

    .login-section .form-container {
        height: 100vh;
    }

    .form-container img,
    .error-message,
    .choice {
        margin-bottom: 32px;
    }

    .form-container img {
        height: 100px;
    }

    /* ABOUT PAGE */
    /* about banner */
    .about-section h2 {
        margin-top: 160px;
        font-size: 36px;
    }

    /* about goals */
    .goals-flex {
        gap: 64px;
    }

    .goal-flex {
        margin-bottom: 24px;
    }

    .goals-flex p:first-of-type {
        font-size: 24px;
    }

    .goals-images img:first-of-type {
        height: 200px;
    }

    .goals-images img:nth-of-type(2) {
        height: 100px;
        right: 20%;
    }

    /* about - info */
    .info-card {
        padding: 24px;
    }

    .info-card p:nth-of-type(1) {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .info-card p:nth-of-type(2) {
        font-size: 16px;
    }

    /* about - coaches */
    .coach-card img {
        width: 80%;
        margin-bottom: 8px;
    }

    /* about - volunteers */
    .volunteers-content {
        padding: 36px;
    }

    .volunteers-info {
        padding: 36px;
    }

    .volunteers-info h3,
    .volunteers-info p:first-of-type,
    .volunteers-info ul {
        margin-bottom: 16px;
    }

    .volunteers-info p:nth-of-type(1) {
        font-size: 16px;
    }

    /* TEAMS */
    /* Search form */
    .teams-search .search-form {
        padding: 24px;
        margin-bottom: 32px;
        text-align: center;
    }

    .teams-search .form {
        margin-bottom: 16px;
    }

    .teams-search .search-form p:nth-of-type(2) {
        margin-bottom: 16px;
    }

    .teams-search .search-form p:nth-of-type(3) {
        margin-bottom: 32px;
    }

    .teams-search .search-form ul {
        margin-bottom: 16px;
    }

    .teams-search .search-form input,
    .teams-search select {
        margin-bottom: 24px;
    }

    .teams-search .search-margin {
        margin-bottom: 36px;
    }

    .teams-search table .schedule-btn {
        font-size: 14px;
    }

    /* team table */
    .teams-search .team-logo {
        height: 15px;
    }

    /* schedule table */
    .schedule .comment-flex {
        flex-direction: column;
        gap: 8px;
    }

    .schedule .comment:not(:last-of-type) {
        margin-bottom: 8px;
    }

    .schedule .heading {
        margin-bottom: 8px;
    }
    
    .schedule .submit-comment {
        margin-bottom: 16px;
    }
    
    .schedule .comment-edit {
        margin-top: 8px;
    }
    
    .schedule .comment-infoflex {
        gap: 16px;
        flex-direction: column;
        align-items: start;
    }

    .schedule .comment-txt {
        font-size: 16px;
    }

    .schedule .actions-flex {
        gap: 8px;
    }

    .schedule .like-count {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    /* GENERAL */
    section {
        padding: 32px 0;
    }

    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    /* Footer */
    footer {
        padding-top: 80px;
    }

    /* .footer-flex {
        gap: 100px;
    } */

    footer .list-item {
        margin-bottom: 16px;
    }

    .social-media-icons {
        gap: 8px;
    }

    footer a {
        font-size: 18px;
    }

    /* HOME */
    /* Hero Banner */
    .hero-content h3 {
        font-size: 150px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 40px;
    }

    .announcement-card:hover {
        transform: none;
    }

    .announcement-img {
        height: 130px;
    }

    .announcements-flex {
        gap: 32px;
    }

    .announcement-content {
        padding: 16px;
    }

    .announcement-content a {
        margin-bottom: 8px;
    }

    /* Registration */
    .reg-info-container {
        padding: 32px 8px;
    }

    .reg-info-container p {
        font-size: 16px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 32px;
    }

    .affiliations img {
        height: 40px;
    }

    /* Courts */
    .court-card {
        gap: 8px;
    }

    .courtcard-flex {
        flex-direction: column;
        gap: 16px;
    }

    .court-content {
        padding: 32px 16px;
        width: 100%;
        top: -35px;
        left: 0;
    }

    .court-content img {
        height: 30px;
    }

    .court-content p {
        font-size: 18px;
    }

    .court-content img,
    .court-content p:first-of-type {
        margin-bottom: 16px;
    }

    .court-map {
        width: 100%;
    }

    .map {
        height: 250px;
    }

    /* LOGIN and SIGN UP PAGE*/
    .form-container {
        width: 100%;
        padding: 24px;
        height: 100%;
    }

    .form-container img,
    .error-message,
    .choice {
        margin-bottom: 24px;
    }

    .form-container img {
        height: 90px;
    }

    /* ABOUT PAGE */
    /* about banner */
    .about-section h2 {
        margin-top: 120px;
    }

    /* about goals */
    .goals-flex {
        gap: 36px;
        flex-direction: column;
    }

    .goal-flex {
        margin-bottom: 24px;
    }

    .goals-info {
        width: 100%;
    }

    .goals-images {
        width: 100%;
        text-align: center;
    }

    .goals-images img:nth-of-type(2) {
        top: 65%;
    }

    /* about - info */
    .info-card {
        padding: 16px;
    }

    .info-card p:nth-of-type(1) {
        font-size: 18px;
    }

    /* about - volunteers */
    .volunteers-content {
        padding: 24px;
        width: 100%;
    }

    .volunteers-info {
        padding: 24px;
        width: 100%;
        margin-left: 0;
    }

    .volunteers-info h3,
    .volunteers-info p:first-of-type,
    .volunteers-info ul {
        margin-bottom: 8px;
    }

    /* REGISTRATION */
    /* registration info */
    .registration-information p {
        font-size: 18px;
    }

    .registration-information p:nth-of-type(2) {
        margin-bottom: 24px;
    }

    .registration-information p:nth-of-type(3) {
        font-size: 22px;
    }

    .registration-information ul {
        margin-bottom: 24px;
    }

    .registration-information li {
        font-size: 16px;
    }

    /* registration form */
    .registration form {
        padding: 36px;
    }

    .registration .register-flex {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .registration .label-input {
        width: 100%;
    }

    .registration .radio-group {
        gap: 24px;
    }

    .registration .register-flex {
        margin-bottom: 16px;
    }

    .registration .margin-responsive {
        margin-left: 38px;
    }

    .registration .form-label {
        font-size: 20px;
    }

    .registration .icon-flex {
        margin-bottom: 16px;
    }

    .registration i {
        font-size: 26px;
    }

    /* ACCOUNT */
    .account-info .profile-info {
        margin-bottom: 24px;
    }

    .account-info .profile-info img {
        height: 130px;
        margin-bottom: 8px;
    }

    .account-info .profile-info p {
        font-size: 18px;
    }

    .account-info .account-flex {
        gap: 32px;
    }

    .account-info .input-edit {
        flex-direction: column;
        gap: 8px;
    }

    .button-container {
        text-align: center;
    }

    /* TEAMS */
    /* Search form */
    .teams-search .search-form {
        padding: 16px;
        margin-bottom: 24px;
    }

    .teams-search .form {
        margin-bottom: 8px;
    }

    .teams-search .search-form p:nth-of-type(2) {
        margin-bottom: 8px;
    }

    .teams-search .search-form p:nth-of-type(3) {
        margin-bottom: 24px;
    }

    .teams-search .search-form ul {
        margin-bottom: 8px;
    }

    .teams-search .search-form input,
    .teams-search select {
        margin-bottom: 16px;
    }

    .teams-search table {
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    /* GENERAL */
    section {
        padding: 24px 0;
    }

    h1 {
        display: none;
    }

    .h1-acronym {
        display: block;
    }

    /* Footer */
    footer {
        padding-top: 70px;
    }

    /* .footer-flex {
        gap: 40px;
    } */

    /* HOME */

    /* Hero Banner */
    .hero-content h3 {
        font-size: 80px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 32px;
    }

    .announcement-img {
        height: 100px;
    }

    .announcements-flex {
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Registration */
    .reg-info-container {
        padding: 24px 8px;
    }

    .reg-info-container p {
        font-size: 14px;
    }

    /* Courts */
    .court-content img {
        height: 25px;
    }

    .court-content p {
        font-size: 16px;
    }

    .court-content img,
    .court-content p:first-of-type {
        margin-bottom: 8px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 24px;
    }

    .affiliations-grid {
        grid-template-columns: repeat(2, max-content);
        gap: 40px;
        justify-content: center;
    }

    .affiliations-grid img {
        margin-left: auto;
        margin-right: auto;
    }

    /* ABOUT PAGE */
    /* about goals */
    .goals-flex {
        gap: 24px;
    }

    .goal-flex {
        margin-bottom: 16px;
    }

    .goals-images img:nth-of-type(2) {
        right: 10%;
    }

    /* about - info */
    .info-card {
        padding: 8px;
    }

    .info-card p:nth-of-type(1) {
        font-size: 16px;
    }

    /* about - volunteers */
    .volunteers-content {
        padding: 16px;
    }

    .volunteers-info {
        padding: 16px;
    }

    /* REGISTRATION */
    /* registration info */
    .registration-information p {
        font-size: 16px;
    }

    .registration-information p:nth-of-type(2) {
        margin-bottom: 16px;
    }

    .registration-information p:nth-of-type(3) {
        font-size: 18px;
    }

    .registration-information ul {
        margin-bottom: 16px;
    }

    .registration-information li {
        font-size: 14px;
    }

    /* registration form */
    .registration form {
        padding: 24px;
    }

    .registration .register-flex {
        gap: 8px;
        margin-bottom: 8px;
    }

    .registration .radio-group {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        text-align: left;
    }

    .registration .radio-option {
        flex-direction: row;
        justify-content: start;
        margin-bottom: 8px;
    }

    .registration .radio-option input {
        width: 10%;
        margin-left: -12px;
    }

    .registration .radio-option label {
        width: 90%;
        margin-bottom: 0px;
    }

    .registration .form-label {
        font-size: 18px;
    }

    .registration .icon-flex {
        margin-bottom: 8px;
    }

    .registration i {
        font-size: 22px;
    }

    /* ACCOUNT */
    .account-info .profile-info img {
        height: 100px;
    }

    .account-info .account-flex {
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    .account-info .account-left,
    .account-info .account-right {
        width: 100%;
    }

    /* TEAMS */
    .teams-search .search-flex {
        gap: 8px;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }

    .schedule .td-flex {
        flex-direction: column;
    }
}