* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
section {
    padding: 48px 0;
}

h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Re-usable styles */
.default-body {
    font-family: Roboto;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.button {
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: Raleway;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    color: #FFFFFF;
    transition: 0.5s;
}

.action-button {
    background-color: #8C0303;
}
.action-button:hover {
    background-color: #bf1616;
    transform: scale(1.05);
}

.black-button {
    background-color: #000000;
}
.black-button:hover {
    background-color: #504444;
    transform: scale(1.05);
}

.section-heading {
    text-align: center;
    margin-bottom: 32px;
}

/* Navbar */
.navbar {
    padding: 16px 0;
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

.nav-container {
    max-width: 1500px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.nav-flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.logo img {
    height: 90px;    
}
  
.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.h1-acronym {
    display: none;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger i {
    cursor: pointer;
    font-size: 30px;
    color: #ff7d4d;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu-list-js {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 24px;
    border-radius: 5px;
    z-index: 10;
    flex-direction: column
}

.menu-hidden {
    display: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 4px 8px;
    border-radius: 3px;
    transition: 0.5s;
}

.menu-list li:last-child a {
    color: #ffbaa1;
}

.menu a:hover {
    background-color: #555;
}

/* Footer */
footer {
    padding-top: 110px;
    padding-bottom: 24px;
    background-image: url("/static/images/footer-ball.png");
    background-position: top;
    background-size: cover;
    /* z-index: 10;
    position: relative; */
}

.footer-login {
    display: none;
}

.footer-flex {
    display: flex;
    gap: 230px;
    align-items: center;
    justify-content: start;
}

footer ul {
    list-style: none;
}

.footer-list li {
    margin-bottom: 32px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    gap: 32px;
}

footer i {
    font-size: 30px;
}

/* HOME PAGE */

/* hero banner */
.hero-banner {
    background-color: rgba(51, 51, 51, 0.408);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    padding: 40px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}

.hero-content {
    text-align: center;
}

.hero-content h3 {
    font-size : 260px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 50px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.232);
    margin-bottom: 8px;
}

.hero-content p {
    color: #ffffff;
    margin-bottom: 48px;
    font-family: Montserrat;
}

/* Announcements */
.announcements-bg {
    background-color: #7a9fbf61;
    padding: 48px;
}

.announcement-card {
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.announcement-card:hover {
    transform: scale(1.1);
}

.announcement-img {
    height: 180px;
    background-position: center;
    background-size: cover;
}

.announcements-flex {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}

.announcement-content {
    padding: 24px;
    text-align: center;
}

.announcement-content a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}

.announcement-content a:hover {
    text-decoration: underline;
}

/* Registration */
.reg-info-content {
    background-image: url("/static/images/ballground-bg.jpg");
    background-color: rgba(99, 99, 99, 0.408);
    background-blend-mode: lighten;
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.reg-info-heading {
    background-color: #000000;
    padding: 8px;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reg-info-heading h2{
    color: #FFFFFF;
}

.reg-info-container {
    background-color: #FFFFFF;
    padding: 48px 24px;
    margin-bottom: 24px;
}

.reg-info-container p {
    font-size: 20px;
}

.reg-info-container p:nth-of-type(1) {
    margin-bottom: 24px;
}

.reg-info-container p:nth-of-type(2) {
    font-weight: 900;
}

/* Affiliations */

/* Affiliations */

.affiliations {
    padding-top: 0;
    padding-bottom: 48px;
}

.affiliations-bg {
    background-color: #D9D9D9;
    padding: 32px 0;
}

.affiliations-grid{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: space-between;
}

.affiliations img {
    height: 60px;
}

/* LOGIN PAGE*/
/* login section*/
.login-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

.body-login {
    background-image: url("/static/images/sky-dunk.jpg");
    background-position: right 100% top 50%;
    background-size: cover;
    position: center;
}

.form-container {
    background-color: #ffffffca;
    padding: 48px 0;
    text-align: center;
    width: 40%;
    height: 100vh;
    z-index: -10;
}

.login-form {
    margin-bottom: 48px;
}

.login-form label, input {
    display: block;
}

.login-form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.login-form input {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30px;
}

.login-form input:nth-of-type(2){
    margin-bottom: 48px;
}

.form-container img {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    display: block;
}

.form-container p {
    margin-bottom: 48px;
    text-transform: uppercase;
}

/* MEDIA QUERY */
@media (max-width: 1100px) {
    /* GENERAL */
    h1 {
        font-size: 16px;
    }

    /* Nav */
    .menu-list {
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width: 992px) {
    /* GENERAL */
    section {
        padding: 40px 0;
    }
    h2 {
        font-size: 25px;
    }
    .logo img {
        height: 80px;    
    }

    /* Footer */
    footer {
        padding-top: 80px;
        padding-bottom: 8px;
    }
    .footer-flex {
        gap: 130px;
        justify-content: center;
    }
    .footer-list li {
        margin-bottom: 24px;
    }
    .social-media-icons {
        gap: 24px;
    }

    /* HOME */
    /* Hero Baner */
    .hero-content h3 {
        font-size: 200px;
    }

    /* Registration */
    .reg-info-container {
        padding: 40px 16x;
    }
    .reg-info-container p {
        font-size: 18px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 40px;
    }
    .affiliations-bg {
        padding: 24px 0;
    }
    .affiliations img {
        height: 45px;
    }

    /* LOGIN PAGE*/
    /* login section*/
    .form-container {
        width: 100%;
        padding: 32px;
    }
    .login-form,
    .login-form input:nth-of-type(2),
    .form-container p,
    .form-container img {
        margin-bottom: 32px;
    }
    .form-container img {
        height: 100px;
    }
}

@media (max-width: 768px) {
    /* GENERAL */
    section {
        padding: 32px 0;
    }
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }
    .logo img {
        height: 70px;    
    }


    /* Footer */
    footer {
        padding-top: 70px;
    }
    .footer-flex {
        gap: 100px;
    }
    .footer-list li {
        margin-bottom: 16px;
    }
    .social-media-icons {
        gap: 8px;
    }

    /* HOME */

    /* Hero Banner */
    .hero-content h3 {
        font-size: 150px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 40px;
    }
    .announcement-card:hover {
        transform: none;
    }
    .announcement-img {
        height: 130px;
    }
    .announcements-flex {
        gap: 32px;
    }
    .announcement-content {
        padding: 16px;
    }
    .announcement-content a {
        margin-bottom: 8px;
    }

    /* Registration */
    .reg-info-container {
        padding: 32px 8px;
    }
    .reg-info-container p {
        font-size: 16px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 32px;
    }
    .affiliations img {
        height: 40px;
    }

   /* LOGIN PAGE*/
    /* login section*/
    .form-container {
        width: 100%;
        padding: 24px;
    }
    .login-form,
    .login-form input:nth-of-type(2),
    .form-container p,
    .form-container img {
        margin-bottom: 24px;
    }
    .form-container img {
        height: 90px;
    }
}

@media (max-width: 576px) {
    /* GENERAL */
    section {
        padding: 24px 0;
    }
    h1 {
       display: none;
    }
    .h1-acronym {
        display: block;
    }
    .logo img {
        height: 60px;    
    }

    /* Footer */
    footer {
        padding-top: 48px;
    }
    .footer-flex {
        gap: 40px;
    }

    /* HOME */

    /* Hero Banner */
    .hero-content h3 {
        font-size: 80px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 32px;
    }
    .announcement-img {
        height: 100px;
    }
    .announcements-flex {
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Registration */
    .reg-info-container {
        padding: 24px 8px;
    }
    .reg-info-container p {
        font-size: 14px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 24px;
    }
    .affiliations-grid{
        grid-template-columns: repeat(2, max-content);
        gap: 40px;
        justify-content: center;
    }
    .affiliations-grid img {
        margin-left: auto;
        margin-right: auto;
    }
}

