* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    font-family: "Libre Baskerville", serif;
}

section {
    padding: 50px 0;
}

h1 {
    color: #ffffff;
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Re-usable styles */
.container {
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.action-button {
    display: inline-block;
    background-color: #8C0303;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-button:hover {
    background-color: #bf1616;
    transform: scale(1.05);
}

.action-button:active {
    transform: scale(1);
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
}

/* Navbar */
.navbar {
    background-color: #000000;
    color: #ffffff;
    position: relative;
}

.nav-container {
    max-width: 1500px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.nav-flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    height: 90px;    
}
  
.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.h1-acronym {
    display: none;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger i {
    cursor: pointer;
    font-size: 30px;
    color: #ff7d4d;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu-list-js {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    z-index: 10;
    flex-direction: column
}

.menu-hidden {
    display: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: 0.5s;
}

.menu-list li:last-child a{
    color: #ffbaa1;
}

.menu a:hover {
    background-color: #555;
}

/* Footer */
footer {
    padding-top: 110px;
    padding-bottom: 20px;
    background-image: url("/static/images/footer-ball.png");
    background-position: top;
    background-size: cover;
}

.footer-flex {
    display: flex;
    gap: 230px;
    align-items: center;
    justify-content: start;
}

footer ul {
    list-style: none;
}

.footer-list li {
    margin-bottom: 30px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}

footer a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    gap: 30px;
}

footer i {
    font-size: 30px;
}

/* HOME PAGE */

/* hero banner */
.hero-banner {
    background-color: rgba(51, 51, 51, 0.408);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    padding: 40px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}

.hero-content {
    text-align: center;
}

.hero-content h3 {
    font-size : 260px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 50px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.232);
    margin-bottom: 10px;
}

.hero-content p {
    color: #ffffff;
    margin-bottom: 50px;
    font-family: Montserrat;
}

/* Announcements */
.announcements-bg {
    background-color: #7a9fbf61;
    padding: 48px;
}

.announcement-card {
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
}

.announcement-card:hover {
    transform: scale(1.1);
}

.announcement-img {
    height: 180px;
    background-position: center;
    background-size: cover;
}

.announcements-flex {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
}

.announcement-content {
    padding: 24px;
    text-align: center;
}

.announcement-content a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}

.announcement-content a:hover {
    text-decoration: underline;
}

/* Registration */
.reg-info-content {
    background-image: url("/static/images/ballground-bg.jpg");
    background-color: rgba(99, 99, 99, 0.408);
    background-blend-mode: lighten;
    background-position: center;
    background-size: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.reg-info-heading {
    background-color: #000000;
    padding: 10px;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reg-info-heading h2{
    color: #FFFFFF;
}

.reg-info-container {
    background-color: #FFFFFF;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.reg-info-container p {
    font-size: 20px;
}

.reg-info-container p:nth-of-type(1) {
    margin-bottom: 20px;
}

.reg-info-container p:nth-of-type(2) {
    font-weight: 900;
}

/* Affiliations */

.affiliations {
    padding-top: 0;
    padding-bottom: 50px;
}

.affiliations-bg {
    background-color: #D9D9D9;
    padding: 30px 0;
}

.affiliations-grid{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 20px;
    justify-content: space-between;
}

.affiliations img {
    height: 60px;
}

/* MEDIA QUERY */
@media (max-width: 1100px) {
    /* GENERAL */
    h1 {
        font-size: 16px;
    }

    /* Nav */
    .menu-list {
        flex-wrap: wrap;
        gap: 5px;
    }
    .menu a {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    /* GENERAL */
    section {
        padding: 40px 0;
    }
    h2 {
        font-size: 35px;
    }

    /* Footer */
    footer {
        padding-top: 80px;
        padding-bottom: 10px;
    }
    .footer-flex {
        gap: 130px;
        justify-content: center;
    }
    .footer-list li {
        margin-bottom: 20px;
    }
    .social-media-icons {
        gap: 20px;
    }

    /* HOME */

    /* Hero Baner */
    .hero-content h3 {
        font-size: 200px;
    }

    /* Registration */
    .reg-info-container {
        padding: 45px 25px;
    }
    .reg-info-container p {
        font-size: 18px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 40px;
    }
    .affiliations-bg {
        padding: 20px 0;
    }
    .affiliations img {
        height: 45px;
    }
}

@media (max-width: 768px) {
    /* GENERAL */
    section {
        padding: 30px 0;
    }
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }

    /* Footer */
    footer {
        padding-top: 70px;
    }
    .footer-flex {
        gap: 100px;
    }
    .footer-list li {
        margin-bottom: 10px;
    }
    .social-media-icons {
        gap: 10px;
    }

    /* HOME */

    /* Hero Banner */
    .hero-content h3 {
        font-size: 150px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 40px;
    }
    .announcement-card:hover {
        transform: none;
    }
    .announcement-img {
        height: 130px;
    }
    .announcements-flex {
        gap: 32px;
    }
    .announcement-content {
        padding: 16px;
    }
    .announcement-content a {
        margin-bottom: 8px;
    }

    /* Registration */
    .reg-info-container {
        padding: 35px 15px;
    }
    .reg-info-container p {
        font-size: 16px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 30px;
    }
    .affiliations img {
        height: 40px;
    }
    
}

@media (max-width: 576px) {
    /* GENERAL */
    section {
        padding: 25px 0;
    }
    h1 {
       display: none;
    }
    .h1-acronym {
        display: block;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }

    /* Footer */
    footer {
        padding-top: 45px;
    }
    .footer-flex {
        gap: 40px;
    }

    /* HOME */

    /* Hero Banner */
    .hero-content h3 {
        font-size: 80px;
    }

    /* Announcements */
    .announcements-bg {
        padding: 32px;
    }
    .announcement-img {
        height: 100px;
    }
    .announcements-flex {
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Registration */
    .reg-info-container {
        padding: 30px 20px;
    }
    .reg-info-container p {
        font-size: 14px;
    }

    /* Affiliations */
    .affiliations {
        padding-bottom: 20px;
    }
    .affiliations-grid{
        grid-template-columns: repeat(2, max-content);
    }
    .affiliations img {
        height: 70px;
    }
}

