{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}">
  

  {% if not is_popup and is_nav_sidebar_enabled %}
    <link rel="stylesheet" href="{% static 'admin/css/nav_sidebar.css' %}">
    <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
  {% endif %}
  
  {% block extrastyle %}{% endblock %}
  
  {% if LANGUAGE_BIDI %}
    <link rel="stylesheet" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}">
  {% endif %}
  
  {% block extrahead %}{% endblock %}
  
  {% block responsive %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
    {% if LANGUAGE_BIDI %}
      <link rel="stylesheet" href="{% static 'admin/css/responsive_rtl.css' %}">
    {% endif %}
  {% endblock %}
  
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now 'Z' %}">
  <a href="#content-start" class="skip-to-content-link">{% translate 'Skip to main content' %}</a>
  
  <!-- Container -->
  <div id="container">

    {% if not is_popup %}
      {% block header %}
        <header id="header">
          <div id="branding">
            <a href="{% url 'admin:index' %}" class="custom-branding">
              <img src="{% static 'images/logo.png' %}" alt="Logo">
              <span class="brand-name">West Island Outdoor Basketball League</span>
            </a>
          </div>
          {% include 'admin/navbar.html' %}
        </header>
      {% endblock %}
      
      {% block nav-breadcrumbs %}
        <nav aria-label="{% translate 'Breadcrumbs' %}">
          {% block breadcrumbs %}
            <div class="breadcrumbs">
              <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            </div>
          {% endblock %}
        </nav>
      {% endblock %}
    {% endif %}
    <!-- Statistics Section -->
    {% if total_users %}
      <div id="stats-container">
        {% include 'admin/stats_box.html' %}
      </div>
    {% endif %}

    <div class="main" id="main">

      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include 'admin/nav_sidebar.html' %}
        {% endblock %}
      {% endif %}
      
      <main id="content-start" class="content" tabindex="-1">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock messages %}
        

        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
          
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}

          
          
          <br class="clear">
        </div>
        <!-- END Content -->
      </main>
    </div>
    <footer id="footer">{% block footer %}{% endblock %}</footer>
  </div>
  <!-- END Container -->
</body>
</html>
